version: "3.9"

services:
  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"  # Browser access
      - "7687:7687"  # Bolt protocol
    volumes:
      - neo4j_data:/data
    environment:
      NEO4J_AUTH: "neo4j/password"  # Fixed password for initial setup
      NEO4J_dbms_memory_heap_max__size: 2G
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"

  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-eads}

  nlp_service:
    build:
      context: ./nlp
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./nlp:/app
    environment:
      - NEO4J_URI=bolt://localhost:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
      - WEAVIATE_HOST=weaviate
      - WEAVIATE_PORT=8080
    depends_on:
      - neo4j
      - weaviate

  gp_engine:
    build:
      context: ./gp_engine
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./gp_engine:/app
    environment:
      - NEO4J_URI=bolt://localhost:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password
    depends_on:
      - neo4j
      - postgres

  weaviate:
    image: semitechnologies/weaviate:1.24.1
    ports:
      - "8080:8080"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: ''
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - weaviate_data:/var/lib/weaviate

volumes:
  neo4j_data:
  postgres_data:
  weaviate_data:
